* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #c5c6c7;
}
a.button {
  position: relative;
  background-color: #1f2833;
  color: #c5c6c7;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: .5s;
  display: inline-block;
  margin: 0 15px 15px 0;
}
a.button span {
  position: relative;
  z-index: 1;
}
a.button i.effects {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  inset: 0;
  display: block;
}
a.button i.effects::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 100%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border: 3px solid #9a1750;
  background-color: #0b0c10;
  transition: .5s;
}
a.button i.effects::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border: 3px solid #9a1750;
  background-color: #0b0c10;
  transition: .5s;
}
a.button i.fa-brands {
  transition: .5s;
}
a.button:hover {
  background-color: #9a1750;
  box-shadow: 0 0 35px #9a1750;
}
a.button:hover i.effects::before {
  left: 0%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 35px 34px #9a1750;
}
a.button:hover i.effects::after {
  left: 100%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: -35px -34px #9a1750;
}
a.button:hover i.fa-brands {
  color: #9a1750;
}
a.button::before {
  content: "";
  position: absolute;
  inset: 3px;
  background-color: #0b0c10;
}
footer a.button {
  background-color: #0b0c10;
}
footer a.button::before {
  content: "";
  position: absolute;
  inset: 3px;
  background-color: rgba(31, 40, 51, 0.757);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}
html,
body {
  background-color: #0b0c10;
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background-color: #0b0c10;
}
body::-webkit-scrollbar-thumb {
  background-color: #9a1750;
}
header {
  width: 100%;
  min-height: 550px;
}
header .top-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #1f2833;
  border-bottom: 2px solid #9a1750;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .container .logo {
  width: 10%;
}
header .container .logo h3 {
  color: #9a1750;
  font-size: 23px;
  align-items: center;
  position: relative;
  z-index: 9999;
}
header .container .logo h3 a {
  color: inherit;
}
header .container .logo h3 i {
  color: inherit;
  font-size: 16px;
}
@media (max-width: 768px) {
  header .container .logo {
    width: 100%;
    text-align: center;
  }
}
header .container .desktop-menu {
  width: 90%;
}
header .container .desktop-menu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: end;
}
header .container .desktop-menu ul li {
  margin: 0 15px;
}
header .container .desktop-menu ul li a {
  text-decoration: none;
}
header .container .desktop-menu ul li a:hover {
  color: #9a1750;
  transition: .5s;
}
@media (max-width: 768px) {
  header .container .desktop-menu {
    display: none;
  }
}
header .container .menu-toggle {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 16px;
  z-index: 10000;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .menu-toggle {
    display: flex;
  }
}
header .container .menu-toggle::before {
  transition: .4s;
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background-color: #c5c6c7;
  transform: translateY(-5px);
}
header .container .menu-toggle::after {
  transition: .4s;
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background-color: #7e7e7e;
  transform: translateY(5px);
}
header .container .menu-toggle.active::before {
  transition: .4s;
  height: 1px;
  background-color: #9a1750;
  transform: translateY(0) rotate(-135deg);
}
header .container .menu-toggle.active::after {
  transition: .4s;
  height: 1px;
  background-color: #9a1750;
  transform: translateY(0) rotate(135deg);
}
header .container .mobile-menu {
  transition: .4s;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  height: 0;
  display: none;
  left: 0;
  top: 0;
  padding: 0 40px;
  background-color: #1f2833;
  z-index: 9998;
}
header .container .mobile-menu ul {
  list-style: none;
}
header .container .mobile-menu ul li {
  border-bottom: 1px solid #9a1750;
}
header .container .mobile-menu ul li a {
  text-decoration: none;
}
header .container .mobile-menu ul li a:hover {
  color: #9a1750;
  transition: .5s;
}
@media (max-width: 768px) {
  header .container .mobile-menu {
    display: block;
  }
}
header .container .mobile-menu.active {
  transition: .4s;
  height: 100vh;
  padding: 60px 40px !important;
  overflow-y: auto;
}
header .apresentacao {
  padding: 80px 0 40px 0;
}
header .apresentacao > .container {
  padding: 10px 2%;
}
header .apresentacao .apresentacao-single {
  position: relative;
  width: 50%;
  height: 100%;
}
header .apresentacao .apresentacao-single h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 43px;
  font-weight: normal;
  margin-bottom: 40px;
}
header .apresentacao .apresentacao-single h1 span.blink {
  font-family: 'Dosis', sans-serif;
  color: #9a1750;
}
header .apresentacao .apresentacao-single h1 span.blink.blink::after {
  content: '|';
  margin-left: -4px;
  position: relative;
  right: 0;
  animation: animeblink 800ms linear infinite;
}
@keyframes animeblink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  header .apresentacao .apresentacao-single h1 {
    margin-bottom: 70px;
    font-size: 30px;
  }
}
header .apresentacao .apresentacao-single img {
  max-width: 100%;
}
header .apresentacao .apresentacao-single:nth-child(1) {
  padding: 70px 0 !important;
}
@media (max-width: 890px) {
  header .apresentacao .apresentacao-single:nth-child(1) {
    width: 100%;
  }
}
header .apresentacao .apresentacao-single:nth-child(2) {
  padding: 30px;
}
@media (max-width: 890px) {
  header .apresentacao .apresentacao-single:nth-child(2) {
    display: none;
  }
}
@media (max-width: 890px) {
  header .apresentacao {
    padding: 160px 40px;
    text-align: center;
  }
}
.violet {
  color: #9a1750;
}
main section.sobre {
  padding: 60px 0;
  background-color: #1f2833;
  border: 2px solid #9a1750;
  border-left: 0;
  border-right: 0;
}
main section.sobre .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main section.sobre .container .sobre-one {
  width: 30%;
  overflow: hidden;
  padding: 0;
}
main section.sobre .container .sobre-one img {
  width: 100%;
  max-width: 300px;
}
main section.sobre .container .sobre-two {
  width: 70%;
  padding: 10px 20px;
}
main section.sobre .container .sobre-two h2 {
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
main section.sobre .container .sobre-two p {
  font-size: 16px;
}
@media (max-width: 768px) {
  main section.sobre .container {
    justify-content: none;
  }
  main section.sobre .container .sobre-one,
  main section.sobre .container .sobre-two {
    width: 100%;
    text-align: center;
  }
  main section.sobre .container .sobre-one {
    border-radius: 0;
  }
  main section.sobre .container .sobre-one img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin: 0 auto;
  }
}
main section.projetos {
  padding: 70px 0;
}
main section.projetos h1 {
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  color: #9a1750;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  main section.projetos h1 {
    text-align: center;
  }
}
main section.projetos h2 {
  font-weight: normal;
  color: #9a1750;
}
main section.projetos input[type=radio] {
  display: none;
}
main section.projetos .container-projects .container-label {
  width: 20%;
}
main section.projetos .container-projects .container-label label {
  display: block;
  margin: 20px 0;
}
main section.projetos .container-projects .container-arquivos {
  width: 100%;
  position: relative;
}
main section.projetos .container-projects .container-arquivos a {
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
main section.projetos .container-projects .container-arquivos .profissional {
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #9a1750;
}
main section.projetos .container-projects .container-arquivos .profissional .projeto-single {
  overflow: hidden;
  width: 33.3%;
  max-width: 300px;
  min-width: 290px;
  margin: 15px;
  border: 1px solid #9a1750;
}
main section.projetos .container-projects .container-arquivos .profissional .projeto-single .cube {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.projetos .container-projects .container-arquivos .profissional .projeto-single img {
  width: 100%;
  filter: opacity(0.5);
}
main section.projetos .container-projects .container-arquivos .profissional .projeto-single .dados {
  width: 100%;
  padding: 40px 10px;
}
@media (max-width: 768px) {
  main section.projetos .container-projects .container-arquivos .profissional .projeto-single {
    width: 100%;
    max-width: 350px;
    margin: 15px 0;
  }
}
main section.projetos .container-projects .container-arquivos .pessoal {
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single {
  overflow: hidden;
  width: 33.3%;
  max-width: 300px;
  min-width: 290px;
  margin: 15px;
  border: 1px solid #9a1750;
  position: relative;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single .cube {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single img {
  width: 100%;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single .dados {
  padding: 40px 10px;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single .dados a {
  display: inline-block;
  position: static;
  max-width: none;
  transform: translate(0, 0);
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 15px;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single .dados a:hover i.effects::before {
  left: 0%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 20px 18px #9a1750;
}
main section.projetos .container-projects .container-arquivos .pessoal .projeto-single .dados a:hover i.effects::after {
  left: 100%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: -20px -18px #9a1750;
}
@media (max-width: 768px) {
  main section.projetos .container-projects .container-arquivos .pessoal .projeto-single {
    width: 100%;
    max-width: 350px;
    margin: 15px 0;
  }
}
@media (max-width: 768px) {
  main section.projetos .container-projects .container-arquivos h2.titles {
    text-align: center !important;
  }
}
main section.tecnologias {
  padding: 60px 0;
}
main section.tecnologias .container > h1 {
  color: #9a1750;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  main section.tecnologias .container > h1 {
    text-align: center;
  }
}
main section.tecnologias .container .tecnologia-container {
  display: flex;
}
main section.tecnologias .container .tecnologia-container input[type=radio] {
  display: none;
}
main section.tecnologias .container .tecnologia-container #slide1:checked ~ .s1 {
  margin-left: 0;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide1:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide1:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide2:checked ~ .s1 {
  margin-left: -12.5%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide2:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide2:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide3:checked ~ .s1 {
  margin-left: -25%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide3:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide3:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide4:checked ~ .s1 {
  margin-left: -37.5%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide4:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide4:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide5:checked ~ .s1 {
  margin-left: -50%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide5:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide5:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide6:checked ~ .s1 {
  margin-left: -62.5%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide6:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide6:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide7:checked ~ .s1 {
  margin-left: -75%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide7:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide7:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container #slide8:checked ~ .s1 {
  margin-left: -87.5%;
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container #slide8:checked ~ .s1 {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container #slide8:checked ~ .s1 {
    margin-left: 0;
  }
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon,
main section.tecnologias .container .tecnologia-container .tecnologia-information {
  width: 50%;
  padding: 10px;
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover {
  width: 33.3%;
  max-width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover i.fa-brands {
  font-size: 4em;
  -webkit-text-stroke: 1px #c5c6c7;
  color: transparent;
  transition: .5s;
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover.selected i.fa-brands {
  font-size: 4em;
  -webkit-text-stroke: 0px var(--clr);
  color: transparent;
  transition: .5s;
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  font-family: 'fontAwesome';
  text-align: center;
  line-height: 101px;
  font-size: 4em;
  color: var(--clr);
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover.selected::before {
  height: 100%;
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(1)::before {
  content: '\f13b';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(2)::before {
  content: '\f3b8';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(3)::before {
  content: '\f38b';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(4)::before {
  content: '\f41f';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(5)::before {
  content: '\f836';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(6)::before {
  content: '\f41d';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(7)::before {
  content: '\f841';
}
main section.tecnologias .container .tecnologia-container .tecnologia-icon label.hover:nth-child(8)::before {
  content: '\f113';
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container .tecnologia-icon {
    display: none;
  }
}
main section.tecnologias .container .tecnologia-container .tecnologia-information {
  overflow: hidden;
  padding: 0;
}
main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content {
  width: 800%;
  display: flex;
}
main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single {
  width: 12.5%;
  padding: 40px 20px;
  transition: .5s;
}
main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single h2 {
  margin-bottom: 30px;
  font-family: dosis;
}
main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single h2 i {
  color: transparent;
  font-size: 40px;
  -webkit-text-stroke: 1px var(--clr);
}
main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single p {
  font-size: 16px;
  color: var(--clr);
  margin: 10px 0;
}
main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single p span {
  color: var(--clr);
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content .slide-single {
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 520px) {
  main section.tecnologias .container .tecnologia-container .tecnologia-information .slide-content {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  main section.tecnologias .container .tecnologia-container .tecnologia-information {
    width: 100%;
  }
}
footer.first {
  padding: 10px 0;
  background-color: #1f2833;
}
footer.first .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer.first .container .footer-single {
  padding: 20px 0;
  width: 50%;
}
footer.first .container .footer-single h2 {
  margin: 15px 0;
  font-weight: normal;
  text-decoration: underline;
}
footer.first .container .footer-single p {
  margin-bottom: 10px;
}
footer.first .container .footer-single p a {
  color: #10da10;
}
footer.first .container .footer-single p a i {
  color: inherit;
}
@media (max-width: 768px) {
  footer.first .container .footer-single {
    width: 100%;
    text-align: center;
  }
}
footer.first .container .footer-single:nth-child(2) {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  footer.first .container .footer-single:nth-child(2) {
    border-top: 1px solid #c5c6c7;
    display: block;
  }
}
footer.second {
  padding: 20px 0;
  text-align: center;
  background-color: #1f2833c1;
}
